{% extends "home/home.html" %}
{% block content%}
    <div id="main-wrapper">
        <div class="container">
            <div id="content">
                <label class="label-default">引用：</label>
                <li>[1] Fortino V, Smolander O P, Auvinen P, et al. Transcriptome dynamics-based operon prediction in prokaryotes[J]. BMC bioinformatics, 2014, 15(1): 145.</li>
                <li>[2] Cho B K, Zengler K, Qiu Y, et al. The transcription unit architecture of the Escherichia coli genome[J]. Nature biotechnology, 2009, 27(11): 1043.</li>
                <li>[3] Mao X, Ma Q, Zhou C, et al. DOOR 2.0: presenting operons and their functions through dynamic and integrated views[J]. Nucleic acids research, 2013, 42(D1): D654-D659.</li>
                <li>[4] Gama-Castro S, Salgado H, Santos-Zavaleta A, et al. RegulonDB version 9.0: high-level integration of gene regulation, coexpression, motif clustering and beyond[J]. Nucleic acids research, 2015, 44(D1): D133-D143.</li>
                <li>[5] Pertea M, Ayanbule K, Smedinghoff M, et al. OperonDB: a comprehensive database of predicted operons in microbial genomes[J]. Nucleic acids research, 2008, 37(suppl_1): D479-D482.</li>
                <li>[6] Okuda S, Yoshizawa A C. ODB: a database for operon organizations, 2011 update[J]. Nucleic acids research, 2010, 39(suppl_1): D552-D555.</li>
                <li>[7] Taboada B, Ciria R, Martinez-Guerrero C E, et al. ProOpDB: Pro karyotic Op eron D ata B ase[J]. Nucleic acids research, 2011, 40(D1): D627-D631.</li>
                <li>[8] Chetal K, Janga S C. OperomeDB: a database of condition-specific transcription units in prokaryotic genomes[J]. BioMed research international, 2015, 2015.</li>
                <li>[9] McClure R, Balasubramanian D, Sun Y, et al. Computational analysis of bacterial RNA-Seq data[J]. Nucleic acids research, 2013, 41(14): e140-e140.</li>
                <li>[10] Bischler T, Kopf M, Voß B. Transcript mapping based on dRNA-seq data[J]. BMC bioinformatics, 2014, 15(1): 122.</li>
                <li>[11] Chen X, Chou W C, Ma Q, et al. SeqTU: a web server for identification of bacterial transcription units[J]. Scientific reports, 2017, 7: 43925.</li>
                <li>[12] Kanehisa M, Goto S. KEGG: kyoto encyclopedia of genes and genomes[J]. Nucleic acids research, 2000, 28(1): 27-30.</li>
                <li>[13] Pruitt K D, Tatusova T, Maglott D R. NCBI reference sequences (RefSeq): a curated non-redundant sequence database of genomes, transcripts and proteins[J]. Nucleic acids research, 2006, 35(suppl_1): D61-D65.</li>
                <li>[14] Sherry S. NCBI SRA Toolkit Technology for Next Generation Sequence Data[C]//Plant and Animal Genome XX Conference (January 14-18, 2012). Plant and Animal Genome. 2012.</li>
                <li>[15] Bray N L, Pimentel H, Melsted P, et al. Near-optimal probabilistic RNA-seq quantification[J]. Nature biotechnology, 2016, 34(5): 525.</li>
                <li>[16] Ramírez F, Ryan D P, Grüning B, et al. deepTools2: a next generation web server for deep-sequencing data analysis[J]. Nucleic acids research, 2016, 44(W1): W160-W165.</li>
                <li>[17] Skinner M E, Uzilov A V, Stein L D, et al. JBrowse: a next-generation genome browser[J]. Genome research, 2009, 19(9): 1630-1638.</li>
                <li>[18] Li H. seqtk: A fast and lightweight tool for processing sequences (Broad Inst., Cambridge, MA)[J]. 2016.</li>
                <li>[19] Kent W J, Zweig A S, Barber G, et al. BigWig and BigBed: enabling browsing of large distributed datasets[J]. Bioinformatics, 2010, 26(17): 2204-2207.</li>
                <li>[20] Li H, Handsaker B, Wysoker A, et al. The sequence alignment/map format and SAMtools[J]. Bioinformatics, 2009, 25(16): 2078-2079.</li>
                <li>[21] Junier I, Unal E B, Yus E, et al. Insights into the mechanisms of basal coordination of transcription using a genome-reduced bacterium[J]. Cell systems, 2016, 2(6): 391-401.</li>
                <label class="label-default">致谢单位：</label>
                <li>1.四川大学生命科学学院</li>
                <li>2.四川大学软件学院</li>
            </div>
        </div>
    </div>
{% endblock %}