{% extends "home/home.html" %}
{% import "ui/gene_page.html" as pg %}
{% block content %}
    <div id="main-wrapper">
        <div class="container">
            <a class="btn btn-lg btn-primary icon  fa-file-text-o" href="#">Operon List</a>
        </div>
        <hr>
        <div class="container">
            <ul>
                {% for v in page_data.items %}
                    <ul>
                    {% for u in v.genes %}
                       &nbsp;-&nbsp;{{ u.locus_tag }}
                    {% endfor %}
                    </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="container">
            {{ pg.page(page_data, 'home.srr_task_operon') }}
        </div>
    </div>
{% endblock %}