{% extends "admin/admin.html" %}
{% import "ui/admin_page.html" as pg %}
{% block content %}
    <div id="main-wrapper">
        <div class="container">
            <a class="btn btn-lg btn-primary icon fa-file-text-o" href="{{ url_for('admin.srr_task') }}">Srr ID List</a>
            <a class="btn btn-default btn-primary icon fa-plus-square-o" href="{{ url_for('admin.srr_task_add') }}">Add
                Srr ID</a>
        </div>
        <hr>
        <div class="container">
            <table>
                <tbody>
                <tr>
                    <th>srr nums</th>
                    <th>kegg_id</th>
                    <th>browse_link</th>
                    <th>operon</th>
                    <th>bw_path</th>
                    <th>method</th>
                </tr>
                {% for v in page_data.items %}
                    <tr>
                        <th><a href="{{ url_for('admin.srr_task_nums',_id=v._id) }}" class="btn btn-info icon fa-table">srr nums</a></th>
                        <th>{{ v.kegg_id }}</th>
                        <th>{{ v.browse_link }}</th>
                        <th><a href="{{ url_for('admin.srr_task_operon',_id=v._id) }}" class="btn btn-info icon fa-table">operon list</a></th>
                        <th>{{ v.bw_path }}</th>
                        <th>{{ v.method }}</th>
                        <th><a class="btn btn-info" href="{{ url_for('admin.srr_task_edit',_id=v._id) }}">edit</a>&nbsp;<a class="btn btn-danger" href="{{ url_for('admin.srr_task_del', _id=v._id) }}">delete</a></th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                <p style="color: greenyellow">{{ msg }}</p>
            {% endfor %}
        </div>
        <div class="container">
            {{ pg.page(page_data, 'admin.srr_task') }}
        </div>
    </div>
{% endblock %}